{%extends 'parent.html'%}
{%load static%}
{%block body%}
<!-- slider start  -->
<div class="row p-0 mt-1">
    <div class="col-sm-12 p-0">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/chimacal.jpg'%}" class=" w-100 " alt="..." height="250px "
                        style="opacity: 0.8;">
                    <div class="carousel-caption  mb-5">
                        <h2><b>Outreach Activities</b></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- slider end -->
<!-- Certificate start  -->
         <div class="row">
            <div class="col mt-4 ms-5 ps-5 pe-5 me-5">
                <h5><b>Focus: Biotechnology Industry in Uttar Pradesh</b></h5>
                <hr>
                <p>The focus of the Park is to promote growth of bio-pharma, agri-biotechnology and bio-service sectors by inviting biotech industry to the State; work in collaboration with state agencies and central institutes of R&D and learning; and transform the society for higher crop productivity, better human health, greater employment opportunities and improved quality of life. The Park plans to achieve this by translation of technologies relevant to health and nutrition, cleaner environment and enhanced farm production for overall growth of the state.</p>
                 <h5><b>Park Serving the Society</b></h5>
                <hr>
                <p>Serving the society is a part of the mission envisioned by the Biotech Park. It organizes programs for farmers and society to make them aware of latest advances & applications and provide latest biotechnology products accessible to farmers to improve their agriculture and horticulture output. Biotech Park has established a Plant Health Clinic for identification of diseases and pests in crops apart from diagnosing biotic and abiotic stress. It also advises eco-friendly control measures and management of diseases and deficiencies.</p>
                
            </div>
         </div>
        <!-- Certificate end -->


       

{%endblock%}