{%extends 'index.html'%}
{%block body%}
<div class="row my-2">
        <div class="mt-2 col-md-8 mx-auto p-1 ">
            <form action="" method="post" class="w-75 mx-auto shadow-lg rounded-4 p-5" style="box-shadow: 0 0 10px rgba(13, 202, 240, 0.8) !important; ">
                {%csrf_token%}
                <h1 class="text-info fw-bold text-center">Add Branch</h1>
                <br>
                <label for="" class="text-light fw-bold pb-2">Enter Branch name :</label>
                <input type="text" name="branch" value="{{b.branch}}" #for update
                class="form-control rounded-pill ps-3 st">
                <br>
                
                <input type="submit" value="Add Branch" name="" class="btn btn-outline-info fw-bold rounded-pill form-control">
            </form>
        </div>
    </div>
     <div class="row mt-5">
        <div class="col-md-8 p-5 mx-auto bg-light rounded-3 table-responsive shadow-lg">
            <h4 class="text-dark mb-4 fw-bold"><i class=" text-info me-2 fa-solid fa-code-branch fa-fade "></i>View Branch</h4>
            <table class="table table-hover align-middle text-center shadow-sm rounded-3 overflow-hidden">
                <thead class="table-dark">
                <tr>
                    <th scope="col">
                        S no.
                    </th>
                    <th scope="col">Branch Name</th>
                    
                    <th colspan="2">Action</th>
                </tr>
                </thead>
                <tbody>
                {%for i in branch%}
                <tr>
                    <td class="fw-semibold">{{forloop.counter}}</td>
                    <td class="fw-bold">{{i.branch}}</td>
                    
                    <td><a href="{% url 'myapp:editbranch' i.id %}" class="btn btn-outline-warning btn-sm shadow-sm"><i class="fa fa-edit"></i> Edit</a></td>
                    <td><a href="{% url 'myapp:deletebranch' i.id %}" class="btn btn-outline-danger btn-sm shadow-sm"><i class="fa fa-trash"></i> Delete</a></td>
                </tr>
                </tbody>
                {%endfor%}
            </table>
        </div>
    </div>
{%endblock%}